@use "../../styles/" as *;

.launch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.25rem;
  letter-spacing: 0.05em;
  text-align: center;

  margin-bottom: 1rem;
  padding: 4em 2em;

  box-shadow: 0 5px 20px rgba(39, 39, 39, 0.2);
  border-radius: 3px;

  &__info-wrapper {
    margin-top: 3rem;
  }

  @supports selector(:is(*)) {
    :is(&--unsuccessful, &--successful) {
      max-width: 15rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--unsuccessful,
  &--successful {
    max-width: 15rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__patch-wrapper {
    width: 100%;
  }

  &__patch {
    max-width: 18.8rem;

    &--unavailable {
      max-width: 19rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__about-launch {
    margin-top: 3rem;
  }

  &__link--learn-more {
    margin-top: 4rem;
  }
}
