.launch-info-card {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 1rem;
  padding: 4rem 2rem;
  box-shadow: 5px 5px 10px rgba(39, 39, 39, 0.3);
  font-size: 1.25rem;
  letter-spacing: 0.05em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.launch-info-card p {
  max-width: 400px;
}

.launch-failure-info,
.success-launch {
  margin: 2.5em 0;
}

.failure-launch,
.success-launch,
.danger-alert {
  background: transparent;
  font-weight: 700;
  width: 50%;
  text-align: center;
  letter-spacing: 0.11em;
  padding: 0.5rem;
  border-radius: 0.2rem;

  margin-left: auto;
  margin-right: auto;
}

.failure-launch,
.danger-alert {
  border: 1px solid var(--danger-color);
  color: var(--danger-color);
}

.success-launch {
  border: 1px solid var(--success-color);
  color: var(--success-color);
}

.image-wrapper {
  width: 100%;
}

.spaceX-image {
  font-size: 1.5rem;
  width: 8rem;
  height: 8rem;
}

.launch-info-link {
  display: block;
  width: max-content;
  font-weight: 700;
  color: var(--white-color);
  text-align: center;
  letter-spacing: 0.11em;
  border-radius: 0.2rem;
  padding: 1rem 3rem;
}

.youtube-link {
  background-color: var(--danger-color);
  margin-bottom: 1rem;
}

.learn-more {
  background-color: var(--orange-color);
  margin-left: auto;
  margin-right: auto;
}
