@use "../../styles/" as *;

.launch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.25rem;
  letter-spacing: 0.05em;
  text-align: center;

  margin-bottom: 1rem;
  padding: 4em 2em;

  box-shadow: 0 5px 20px rgba(39, 39, 39, 0.2);
  border-radius: 3px;

  &__patch-wrapper {
    width: 100%;
  }

  &__patch {
    width: 80%;
    max-width: 18.8rem;

    &--unavailable {
      width: 80%;
      max-width: 18rem;
    }
  }
}

/* .launch__patch-wrapper {
  width: 100%;
} */

/* .launch__patch {
  width: 80%;
  max-width: 18.8rem;
} */

/* .launch p {
  max-width: 45ch;
} */

/* .launch__patch--unavailable {
  width: 80%;
  max-width: 300px;
} */

.launch__failure-info,
.success-launch {
  margin: 3rem 0;
}

.launch-info-link {
  display: block;

  width: max-content;
  padding: 1rem 3rem;

  color: $white-color;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.11em;

  border-radius: 2px;
}

.youtube-link {
  background-color: $danger-color;
}

.learn-more {
  margin-left: auto;
  margin-right: auto;
  background-color: $orange-color;
}
