@use "../../styles/" as *;

.spacex-welcome-page {
  display: flex;
  flex-direction: column;

  height: 100vh;

  &__logo {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1 0 0;

    font-family: "Josefin Sans", sans-serif;
    background-color: $white-color;

    &-heading {
      margin: 0;
      padding: 0.6em 0.5em 0.5em 0.5em;
      background-image: linear-gradient(to right, $orange-color, $red-color);
      color: $white-color;
      border-radius: 3px;
    }
  }

  &__background {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 2 0 0;
    background-image: url("./../../assets/images//welcomeSpaceXRcoket.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    font-size: 3rem;

    &-heading {
      width: 85%;
      max-width: 1200px;
      margin: 0 auto;
      margin-bottom: 3rem;
      padding: 0.6em 0.5em 0.5em 0.5em;
      background-color: $orange-color;

      z-index: 3;

      font-family: "Josefin Sans", sans-serif;
      text-align: center;
      color: $white-color;

      border-radius: 3px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;

      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, $orange-color, $red-color);

      opacity: 0.25;
      z-index: 1;
    }
  }

  &__link {
    padding: 0.5em 1.5em;
    background-color: $white-color;

    font-size: 1.8rem;
    font-weight: 700;
    color: $orange-color;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    border-radius: 2px;
    transition: opacity 250ms;
    z-index: 3;

    &:hover {
      opacity: 0.86;
    }
  }
}
