@use "../../../styles/" as *;

.nav {
  padding: 1.5em 2em;
  background-color: #fdfdfd;
  margin-bottom: auto;
  display: flex;
}

.nav-logo {
  width: 80%;
}

.logo-link {
  display: inline-block;
  width: max-content;
  height: max-content;
}

.logo-caption {
  font-size: 1.5rem;
  color: $orange-color;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.9em;
  margin-top: 0.5rem;
}

.nav-links {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  background: $orange-color;

  font-size: 1.4rem;
  font-weight: 700;
  color: $white-color;
  letter-spacing: 0.11em;

  margin: 0.5rem;
  padding: 0.9rem;

  border: 1px solid transparent;
  border-radius: 2px;
  transition: all 180ms ease-in-out;
}

.nav-link:hover {
  background-color: transparent;
  border-color: $orange-color;
  color: $orange-color;
  opacity: 0.8;
}

@media screen and (max-width: 53.75em) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav > * + * {
    margin-top: 2em;
  }
}

@media screen and (max-width: 39.375em) {
  .nav-links {
    flex-direction: column;
    justify-content: center;
  }
}
