@use "../../styles/" as *;

.spacex-launch-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;

  flex: 1;

  font-size: 1.25rem;
  letter-spacing: 0.05em;

  p[class^="alert"] {
    width: max-content;
  }

  &__patch-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__patch {
    max-width: 31.5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__link--youtube {
    @include respond(1000) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include respond(1000) {
    grid-template-columns: 1fr;
    text-align: center;

    p[class^="alert"] {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
