@use "../../../styles/base/animations" as *;

$hue: 223;
$bg: hsl($hue, 10%, 90%);
$fg: hsl($hue, 10%, 10%);
$themeTrans: 0.3s;

.spinner {
  width: 5em;
  height: 4em;
  margin: auto;

  &__ring,
  &__worm1,
  &__worm2,
  &__worm3 {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  &__ring {
    stroke: hsla($hue, 10%, 10%, 0.1);
    transition: stroke $themeTrans;
  }

  &__worm1 {
    -webkit-animation-name: worm1;
    animation-name: worm1;
  }

  &__worm2 {
    -webkit-animation-name: worm2;
    animation-name: worm2;
    transform-origin: 32px 88px;
  }

  &__worm3 {
    -webkit-animation-name: worm3;
    animation-name: worm3;
    transform-origin: 144px 88px;
  }
}
