@use "../../styles/" as *;

.watch-launch-heading-h3 {
  margin-top: 5rem;
}

.launch-more-info-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
}

.launch-more-info-page p:not(.success, .failure, .alert-danger) {
  max-width: 500px;
  text-align: left;
}

.learn-more-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.spaceX-img {
  width: 90%;
  max-width: 500px;
  margin-top: 5rem;
}

.launch-info-link {
  display: block;

  width: max-content;
  padding: 1rem 3rem;

  color: $white-color;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.11em;

  border-radius: 2px;
}

.youtube-link {
  background-color: $danger-color;
}

.success,
.failure,
.alert-danger {
  width: 80%;
  max-width: 250px;

  background: transparent;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.11em;
  padding: 0.5em 1.5em;
  border-radius: 3px;

  margin: 0;
}

.success {
  border: 1px solid $success-color;
  color: $success-color;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.failure-launch,
.alert-danger {
  border: 1px solid $danger-color;
  color: $danger-color;
}

.launch-info-link {
  display: block;

  width: max-content;
  padding: 1rem 3rem;

  color: $white-color;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.11em;

  border-radius: 2px;
}

.youtube-link {
  background-color: $danger-color;
}

@media screen and (max-width: 61.875em) {
  .launch-more-info-page {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .launch-more-info-page p:not(.success, .failure, .alert-danger) {
    text-align: center;
  }

  .launch-more-info-page p {
    margin-left: auto;
    margin-right: auto;
  }

  .youtube-link {
    margin-left: auto;
    margin-right: auto;
  }
}
