@use "../../../styles/" as *;

.footer {
  display: flex;
  align-items: center;

  width: 100%;

  font-size: 1.2rem;
  color: $black-color;

  &__content {
    margin: 3rem auto;
    text-align: center;
  }
}
