@use "../../../styles/" as *;

.footer {
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  color: $black-color;
  display: flex;
  align-items: center;

  &-content {
    text-align: center;
    margin: 3rem auto;
  }
}
