section div.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  column-gap: 2em;
  margin: auto;
}

div#mission {
  width: 100%;
  max-width: 700px;
  border-radius: 3px;
  margin-bottom: 1rem;
  padding: 4rem 2rem;
  box-shadow: 5px 5px 10px rgba(39, 39, 39, 0.3);
  font-size: 1.25rem;
  letter-spacing: 0.05em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

div#mission p {
  max-width: 400px;
}

.launch-failure-details,
.success-launch {
  margin: 2.5em 0;
}

p.failure-launch,
p.success-launch,
p.danger-alert {
  background: transparent;
  font-weight: 700;
  width: 50%;
  text-align: center;
  letter-spacing: 0.11em;
  padding: 0.5rem;
  border-radius: 0.2rem;

  margin-left: auto;
  margin-right: auto;
}

p.failure-launch,
p.danger-alert {
  border: 1px solid var(--danger-color);
  color: var(--danger-color);
}

p.success-launch {
  border: 1px solid var(--success-color);
  color: var(--success-color);
}

div.image-wrapper {
  width: 100%;
}

img.spaceXimage {
  font-size: 1.5rem;
  width: 8rem;
  height: 8rem;
}

.d-block {
  display: block;
}

a.youtube-link {
  background: var(--danger-color);
  color: var(--white-color);
  width: 200px;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 0.11em;
}

a.learn-more {
  width: max-content;
  background: var(--orange-color);
  border-radius: 0.2rem;
  color: var(--white-color);
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.11em;
  padding: 1rem 3rem;

  margin-left: auto;
  margin-right: auto;
}
