:root {
  --success-color: #60b269;
  --danger-color: #d64242;

  --black-color: hsl(223, 10%, 10%);
  --blue-color: #97c4fc;

  --orange-color: hsl(33, 90%, 55%);
  --white-color: #fff;
  --grey-color: hsl(223, 10%, 90%);

  --linear-gradient: linear-gradient(90deg, rgba(244, 151, 37, 1) 0%, rgba(244, 151, 37, 1) 35%, rgba(244, 47, 37, 1) 100%);
}
