@import url("../Global/css/Variables.css");

p#before-fetching {
  background: var(--orange-color);
  color: var(--white-color);
  padding: 0.8rem;
  border-bottom: 1rem solid var(--orange-color);
  border-radius: 0.2rem;
  margin: 0 auto;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
}

section#missions-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

h1#explore-header {
  border-bottom: 1rem solid var(--orange-color);
  border-radius: 0.2rem;
  font-weight: 900;
  background: var(--white-color);
  padding: 0.5rem;
}

div#header-background-img {
  height: 50rem;
  background: url("../../assets/images/spacexImage.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--orange-color);
  border: 1rem solid var(--orange-color);
  border-radius: 0.2rem;
}

section div.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 20px;
}

div#mission {
  border-radius: 0.2rem;
  box-shadow: 5px 5px 10px rgba(39, 39, 39, 0.3);
  width: 90%;
  margin-bottom: 1rem;
  padding: 1rem;
}

p.failure-launch,
p.success-launch,
p.danger-alert {
  background: none;
  width: 200px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

p.failure-launch,
p.danger-alert {
  border: 1px solid var(--danger-color);
  color: var(--danger-color);
}

p.success-launch {
  border: 1px solid var(--success-color);
  color: var(--success-color);
}

div#mission p {
  max-width: 400px;
}

div#image-wrapper {
  width: 100%;
}

img#spaceXimage {
  font-size: 1.5rem;
  width: 8rem;
  height: 8rem;
}
