h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
